body {
    font-family: Marker Felt, fantasy;
    background-color: #f4f4f4;
    color: #1b1818;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: left;
    margin-bottom: 40px;
}

#title {
    text-align: left;
    margin-top: 40px;
    margin-bottom: 1px;
    font-size: 20px;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.tab-button {
    background-color: #0b0b0b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.tab-button:hover {
    background-color: #5d5f61;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bolder;
    text-align: left;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 30px;
}

input, select, button {
    padding: 10px;
    font-size: 1rem;
    border-radius: 10px;
    border: 2px solid #000000;
}

button {
    background-color: #f6faf8;
    color: #0b0000;
    border: 2px solid #010101;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 30px;
    width: 150px;
}

button:hover {
    background-color: #edf2ee;
}

button[type="reset"] {
    background-color: #f9f9f9;
}

button[type="reset"]:hover {
    background-color: #ffffff;
}

